<!-- <hc-multi-function-tile bgColor="primary" statusBgColor="accent">
  <span hc-mft-side-status-container>CLOSED</span>

  <hc-mft-slider hc-mft-base-content [value]="value" (liveChange)="value=$event" min="0" max="100" bgColor="primary"
    sliderColor="accent"></hc-mft-slider>

  <awac-icon name="fas/fa-door-open" hc-mft-type-icon></awac-icon>

  <hc-mft-overlay-pane>
    <button mat-icon-button color="primary" class="toggle-button mft-small-icon-button" hc-mft-action-bar-item>
      <awac-icon hc-mft-action-bar-item name="fas/fa-power-off"></awac-icon>
    </button>

    <span hc-mft-label-text>Wohnzimmer</span>
    <span hc-mft-value-status class="accent-text">{{value}}%</span>
    <span hc-mft-sub-label-text>Fenster</span>
  </hc-mft-overlay-pane>

</hc-multi-function-tile> -->

<hc-tile bgColor="pale">
  <hc-mft-chips>
    <span hc-mft-label-text>Szenen Wohnzimmer</span>
    <span hc-mft-sub-label-text>Select a scene</span>
    
    <hc-mft-chip-button color="primary">
      <awac-icon hc-mft-chip-icon name="power"></awac-icon>
      Scene 1
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>

    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
    <hc-mft-chip-button color="primary">
      Scene 2
    </hc-mft-chip-button>
  </hc-mft-chips>
</hc-tile>