<div [ngClass]="{'dark-theme': darkMode$ | async}">

  <awac-main-nav [pages]="pages$|async" [activePage]="activePage$ | async" (activePageChange)="navigate($event)"
    [showSidebarOnDesktop]="false" title="homecontrol">

    <mat-accordion awac-nav-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Local options
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="local-options">
          <hc-widget-layout>
            <span hc-widget-label>Dark mode:</span>
            <hc-widget-controls>
              <mat-slide-toggle [checked]="darkMode$ | async" (change)="setDarkMode($event.checked)">
              </mat-slide-toggle>
            </hc-widget-controls>
          </hc-widget-layout>
          <hc-widget-layout>
            <span hc-widget-label>Force XLarge layout:</span>
            <hc-widget-controls>
              <mat-slide-toggle [checked]="xLargeOverride$ | async" (change)="toggleXLargeOverride($event.checked)">
              </mat-slide-toggle>
            </hc-widget-controls>
          </hc-widget-layout>
          <hc-widget-layout>
            <span hc-widget-label>Open last page:</span>
            <hc-widget-controls>
              <mat-slide-toggle [checked]="openLastPage$ | async" (change)="toggleOpenLastPage($event.checked)">
              </mat-slide-toggle>
            </hc-widget-controls>
          </hc-widget-layout>
          <hc-widget-layout>
            <span hc-widget-label>Hide BottomNav:</span>
            <hc-widget-controls>
              <mat-slide-toggle [checked]="hideBottomNav$ | async" (change)="toggleHideBottomNav($event.checked)">
              </mat-slide-toggle>
            </hc-widget-controls>
          </hc-widget-layout>
        </div>
      </mat-expansion-panel>

    </mat-accordion>


    <awac-nav-toolbar-actions>
      <!-- <mat-spinner  [diameter]="24" color="accent" [strokeWidth]="4" ></mat-spinner> -->
      <awac-icon name="link" *ngIf="(connectionState$ | async) == connectionStatus.Connected"></awac-icon>

      <mat-spinner [diameter]="24" color="accent" [strokeWidth]="4"
        *ngIf="(connectionState$ | async) == connectionStatus.Disconnected"></mat-spinner>
      <button class="refresh-button" mat-icon-button (click)="refresh();">
        <awac-icon name="refresh"></awac-icon>
      </button>



    </awac-nav-toolbar-actions>

    <div class="main-div">
      <hc-theme-emitter></hc-theme-emitter>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>

  </awac-main-nav>

  <awac-bottom-nav *ngIf="showBottomNav$ | async" [pages]="pages$|async" [selectedId]="(activePage$ | async)?.id"
    (actionSelected)="navigate($event)">
  </awac-bottom-nav>


</div>