.status-icon {
    // width:14px;
    height:18px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    // padding-right:2px;
    // line-height: 22px;
}

mat-basic-chip{
    font-size: smaller;
}