<hc-section-card-header *ngIf="card?.title || card?.icon || card?.launchOptions">
  <hc-card-header-title *ngIf="card?.title">{{card?.title}}</hc-card-header-title>
  <!--[name]="card?.icon"-->
  <awac-icon hc-card-header-icon  [name]="card?.icon" *ngIf="card?.icon"></awac-icon>
  <!-- <div hc-card-header-action *ngIf="card?.launchOptions && !hideLaunchButton" class="card-action"> <button mat-icon-button (click)="launch()">
      <awac-icon name="launch"></awac-icon>
    </button></div> -->
  <button hc-card-header-action *ngIf="card?.launchOptions && !hideLaunchButton" mat-icon-button (click)="launch()">
      <awac-icon name="launch"></awac-icon>
    </button>
</hc-section-card-header>