/* For use in src/lib/core/theming/_palette.scss */
$bluegreydark: (
    50 : #edf1f2,
    100 : #d3dbe0,
    200 : #b6c4cb,
    300 : #98acb6,
    400 : #829aa6,
    500 : #6c8896,
    600 : #64808e,
    700 : #597583,
    800 : #4f6b79,
    900 : #3d5868,
    A100 : #bee7ff,
    A200 : #8bd4ff,
    A400 : #58c1ff,
    A700 : #3eb7ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$orangebrowngrey: (
    50 : #f3edea,
    100 : #e0d3c9,
    200 : #ccb6a6,
    300 : #b79982,
    400 : #a78367,
    500 : #986d4c,
    600 : #906545,
    700 : #855a3c,
    800 : #7b5033,
    900 : #6a3e24,
    A100 : #ffc9ac,
    A200 : #ffa879,
    A400 : #ff8746,
    A700 : #ff772c,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$darkpetrol: (
    50 : #e6eeed,
    100 : #c0d4d2,
    200 : #97b8b5,
    300 : #6d9b97,
    400 : #4d8580,
    500 : #2e706a,
    600 : #296862,
    700 : #235d57,
    800 : #1d534d,
    900 : #12413c,
    A100 : #7dffef,
    A200 : #4affe9,
    A400 : #17ffe3,
    A700 : #00fcde,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$orangegrey: (
    50 : #f5ece6,
    100 : #e5cfc0,
    200 : #d4af96,
    300 : #c38e6c,
    400 : #b6764d,
    500 : #a95e2d,
    600 : #a25628,
    700 : #984c22,
    800 : #8f421c,
    900 : #7e3111,
    A100 : #ffc6b2,
    A200 : #ffa07f,
    A400 : #ff7a4c,
    A700 : #ff6732,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$smartteal: (
    50 : #edf6f2,
    100 : #d1e8e0,
    200 : #b2d9cb,
    300 : #93cab6,
    400 : #7cbea6,
    500 : #65b396,
    600 : #5dac8e,
    700 : #53a383,
    800 : #499a79,
    900 : #378b68,
    A100 : #d9ffee,
    A200 : #a6ffd8,
    A400 : #73ffc2,
    A700 : #59ffb7,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$steel: (
    50 : #eaeaec,
    100 : #cacbd0,
    200 : #a7a9b1,
    300 : #838691,
    400 : #696c7a,
    500 : #4e5262,
    600 : #474b5a,
    700 : #3d4150,
    800 : #353846,
    900 : #252834,
    A100 : #809bff,
    A200 : #4d73ff,
    A400 : #1a4bff,
    A700 : #0037ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$steeldark: (
    50 : #e4e4e6,
    100 : #bbbcc0,
    200 : #8e8f96,
    300 : #60626b,
    400 : #3e414c,
    500 : #1c1f2c,
    600 : #191b27,
    700 : #141721,
    800 : #11121b,
    900 : #090a10,
    A100 : #5555ff,
    A200 : #2222ff,
    A400 : #0000ee,
    A700 : #0000d4,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$steeldark2: (
    50 : #e7e8ea,
    100 : #c3c5cb,
    200 : #9c9ea9,
    300 : #747787,
    400 : #565a6d,
    500 : #383d53,
    600 : #32374c,
    700 : #2b2f42,
    800 : #242739,
    900 : #171a29,
    A100 : #6e81ff,
    A200 : #3b55ff,
    A400 : #0829ff,
    A700 : #0020ed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$leather: (
    50 : #f5efea,
    100 : #e5d6cb,
    200 : #d4bba9,
    300 : #c29f86,
    400 : #b58b6c,
    500 : #a87652,
    600 : #a06e4b,
    700 : #976341,
    800 : #8d5938,
    900 : #7d4628,
    A100 : #ffd5c0,
    A200 : #ffb38d,
    A400 : #ff915a,
    A700 : #ff8041,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palesteel: (
    50 : #eeeff1,
    100 : #d4d6db,
    200 : #b8bbc3,
    300 : #9c9fab,
    400 : #868b99,
    500 : #717687,
    600 : #696e7f,
    700 : #5e6374,
    800 : #54596a,
    900 : #424657,
    A100 : #b4c2fe,
    A200 : #8299fd,
    A400 : #4d6fff,
    A700 : #345bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$steelprimary: (
    50 : #eaeaec,
    100 : #c9cbd0,
    200 : #a6a9b1,
    300 : #828691,
    400 : #676c7a,
    500 : #4c5262,
    600 : #454b5a,
    700 : #3c4150,
    800 : #333846,
    900 : #242834,
    A100 : #7fa1ff,
    A200 : #4c7bff,
    A400 : #1956ff,
    A700 : #0044fe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$smartteal2: (
    50 : #e9f4f0,
    100 : #c9e3da,
    200 : #a5d0c1,
    300 : #80bda8,
    400 : #65ae95,
    500 : #4aa082,
    600 : #43987a,
    700 : #3a8e6f,
    800 : #328465,
    900 : #227352,
    A100 : #b3ffde,
    A200 : #80ffc8,
    A400 : #4dffb3,
    A700 : #34ffa8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* For use in src/lib/core/theming/_palette.scss */
$steelblueprimary: (
    50 : #eaeaef,
    100 : #c9cbd6,
    200 : #a6a9bb,
    300 : #8286a0,
    400 : #676c8b,
    500 : #4c5277,
    600 : #454b6f,
    700 : #3c4164,
    800 : #33385a,
    900 : #242847,
    A100 : #8e9cff,
    A200 : #5b6fff,
    A400 : #2842ff,
    A700 : #0e2cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

