
$mat-dark: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$blue-grey-dark: (
    50 : #edf1f2,
    100 : #d3dbe0,
    200 : #b6c4cb,
    300 : #98acb6,
    400 : #829aa6,
    500 : #6c8896,
    600 : #64808e,
    700 : #597583,
    800 : #4f6b79,
    900 : #3d5868,
    A100 : #bee7ff,
    A200 : #8bd4ff,
    A400 : #58c1ff,
    A700 : #3eb7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$orange-grey-dark: (
    50 : #f3edea,
    100 : #e0d3c9,
    200 : #ccb6a6,
    300 : #b79982,
    400 : #a78367,
    500 : #986d4c,
    600 : #906545,
    700 : #855a3c,
    800 : #7b5033,
    900 : #6a3e24,
    A100 : #ffc9ac,
    A200 : #ffa879,
    A400 : #ff8746,
    A700 : #ff772c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$dark-petrol: (
    50 : #e6eeed,
    100 : #c0d4d2,
    200 : #97b8b5,
    300 : #6d9b97,
    400 : #4d8580,
    500 : #2e706a,
    600 : #296862,
    700 : #235d57,
    800 : #1d534d,
    900 : #12413c,
    A100 : #7dffef,
    A200 : #4affe9,
    A400 : #17ffe3,
    A700 : #00fcde,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$orange-grey: (
    50 : #f5ece6,
    100 : #e5cfc0,
    200 : #d4af96,
    300 : #c38e6c,
    400 : #b6764d,
    500 : #a95e2d,
    600 : #a25628,
    700 : #984c22,
    800 : #8f421c,
    900 : #7e3111,
    A100 : #ffc6b2,
    A200 : #ffa07f,
    A400 : #ff7a4c,
    A700 : #ff6732,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

