<hc-widget-layout>
  <hc-widget-controls>
  <!-- <div class="temp"> -->
  <span class="big-text">{{ bigSensorreading$ | async | number:bigSensorNumberFormat }}{{ bigSensorUnit$ | async }}</span>
  <!-- </div> -->
  <!-- <span class="divider">|</span> -->
  <div class="divider-div primary-text"></div>
  <!-- <div class="hum"> -->
  <span class="small-text primary-text">{{ smallSensorreading$ | async | number:smallSensorNumberFormat }}{{ smallSensorUnit$ | async }}</span>
  <!-- </div> -->
  </hc-widget-controls>
</hc-widget-layout>