<!-- <hc-widget-layout *ngIf="(devicesCount$ | async) > 0">
    <span hc-widget-label>{{widget.label}}</span>

    <mat-chip-list hc-widget-second-line aria-label="devices needing attention">
        <mat-chip *ngFor="let device of lowBatteryDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'">
            <mat-chip-avatar>
                <mat-icon class="status-icon" fontSet="fas" fontIcon="fa-battery-quarter"></mat-icon>
            </mat-chip-avatar>
            {{device.id}}{{device.label}}
        </mat-chip>
        <mat-chip *ngFor="let device of notReachableDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'">
            <mat-chip-avatar>
                <mat-icon class="status-icon" fontSet="fas" fontIcon="fa-unlink"></mat-icon>
            </mat-chip-avatar>
            {{device.id}}{{device.label}}
        </mat-chip>
        <mat-chip *ngFor="let device of notReadyDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'">
            <mat-chip-avatar>
                <mat-icon class="status-icon" fontSet="fas" fontIcon="fa-dizzy"></mat-icon>
            </mat-chip-avatar>
            {{device.id}}{{device.label}}
        </mat-chip>
    </mat-chip-list>
</hc-widget-layout> -->


<hc-tile bgColor="pale" *ngIf="(devicesCount$ | async) > 0">
    <hc-mft-chips>
      <span hc-mft-label-text>{{widget.label}}</span>
      <span hc-mft-sub-label-text *ngIf="widget.config?.subLabel">{{widget.config?.subLabel}}</span>
      
      <hc-mft-chip-button *ngFor="let device of lowBatteryDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'" color="warn">
        <awac-icon hc-mft-chip-icon name="battery_1_bar"></awac-icon>
        {{device.id}}{{device.label}}
      </hc-mft-chip-button>
      <hc-mft-chip-button *ngFor="let device of notReachableDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'" color="warn">
        <awac-icon hc-mft-chip-icon name="link_off"></awac-icon>
        {{device.id}}{{device.label}}
      </hc-mft-chip-button>
      <hc-mft-chip-button *ngFor="let device of notReadyDevices$ | async" (click)="device.label= device.label ? '':' ('+device.name+')'" color="warn">
        <awac-icon hc-mft-chip-icon name="warning"></awac-icon>
        {{device.id}}{{device.label}}
      </hc-mft-chip-button>
    </hc-mft-chips>
  </hc-tile>

    <!-- <div class="section" *ngIf="(lowBatteryDevicesCount$ | async) > 0">
        <h2><awac-icon name="fas/fa-battery-quarter"></awac-icon> Low battery devices</h2>
        <p class="device" *ngFor="let device of lowBatteryDevices$ | async">{{device.id}} - {{device.name}}</p>
    </div>
    <div class="section" *ngIf="(notReachableDevicesCount$ | async) > 0">
        <h2><awac-icon name="fas/fa-unlink"></awac-icon > Not rechable devices</h2>
        <p class="device" *ngFor="let device of (notReachableDevices$ | async)">{{device.id}} - {{device.name}}</p>
    </div>
    <div class="section" *ngIf="(notReadyDevicesCount$ | async) > 0">
        <h2><awac-icon name="fas/fa-dizzy"></awac-icon> Not ready devices</h2>
        <p class="device" *ngFor="let device of (notReadyDevices$ | async)">{{device.id}} - {{device.name}}</p>
    </div> -->

<!-- </div> -->