<div class="card-header flex-row-ltr ">
    <div class="card-header-icon big-icon">
        <ng-content select="hc-card-header-icon"></ng-content>
        <ng-content select="[hc-card-header-icon]"></ng-content>
    </div>
    <div class="card-header-title">
        <ng-content select="hc-card-header-title"></ng-content>
        <ng-content select="[hc-card-header-title]"></ng-content>
    </div>

    <div class="card-header-action big-icon">
        <ng-content select="hc-card-header-action"></ng-content>
        <ng-content select="[hc-card-header-action]"></ng-content>
    </div>
</div>