hc-widget-layout{
    min-height: 48px;
}

// button :first-child{
//     margin-left: 3px;
//     margin-right: 0px;
// }

button {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
}


// button :last-child{
//     margin-left: 0px;
//     margin-right: 3px;
// }