<div class="content">
    <div class="first-text-line label-text text-strong">
        <ng-content select="hc-mft-label-text"></ng-content>
        <ng-content select="[hc-mft-label-text]"></ng-content>
    </div>
    <div class="second-text-line label-text sub-label-text text-light">
        <ng-content select="hc-mft-sub-label-text"></ng-content>
        <ng-content select="[hc-mft-sub-label-text]"></ng-content>
    </div>
    <div class="chip-list">
        <ng-content select="hc-mft-chip-button"></ng-content>
        <ng-content select="[hc-mft-chip-button"></ng-content>
    </div>
</div>